:root {
  --zinc-900: #18181b;
  --zinc-800: #27272a;
  --zinc-800-alpha: rgba(39, 39, 42, 0.3);
  --emerald-900: #064e3b;
  --red-900: #7f1d1d;
  --neutral-50: #fafafa;
}

/*------------------------ General Styles -------------------------- */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: var(--neutral-50);
  background-color: var(--zinc-900);
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------ Body Background & animation Styles -------------------------- */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
   z-index: -200;
   animation-duration: 101s;
   animation-delay: -65s;
   transform-origin: 12vw 8vh;
   box-shadow: -28vmin 0 4.069952552018775vmin currentColor;
  overflow: hidden;
}

.background span {
  width: 14vmin;
  height: 14vmin;
  border-radius: 14vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 38;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #ffd500;
  top: 30%;
  left: 97%;
  animation-duration: 14s;
  animation-delay: -65s;
  transform-origin: -14vw 25vh;
  box-shadow: 28vmin 0 4.121054809465405vmin currentColor;
}

.background span:nth-child(1) {
  color: #ffd500;
  top: 67%;
  left: 14%;
  animation-duration: 17s;
  animation-delay: -50s;
  transform-origin: -15vw 23vh;
  box-shadow: -28vmin 0 4.0075445482260035vmin currentColor;
}

.background span:nth-child(2) {
  color: #ff6600;
  top: 19%;
  left: 3%;
  animation-duration: 22s;
  animation-delay: -40s;
  transform-origin: -11vw -18vh;
  box-shadow: 28vmin 0 4.371505527844663vmin currentColor;
}

.background span:nth-child(3) {
  color: #ff0000;
  top: 36%;
  left: 89%;
  animation-duration: 113s;
  animation-delay: -39s;
  transform-origin: 1vw 5vh;
  box-shadow: -28vmin 0 3.5487184643818352vmin currentColor;
}

.background span:nth-child(4) {
  color: #ff6600;
  top: 27%;
  left: 24%;
  animation-duration: 29s;
  animation-delay: -59s;
  transform-origin: -3vw 10vh;
  box-shadow: 28vmin 0 3.5437071076430895vmin currentColor;
}

.background span:nth-child(5) {
  color: #ff6600;
  top: 17%;
  left: 73%;
  animation-duration: 88s;
  animation-delay: -61s;
  transform-origin: 1vw -1vh;
  box-shadow: 28vmin 0 3.950723353222404vmin currentColor;
}

.background span:nth-child(6) {
  color: #ff6600;
  top: 2%;
  left: 13%;
  animation-duration: 16s;
  animation-delay: -49s;
  transform-origin: 1vw -17vh;
  box-shadow: 28vmin 0 3.8934747909298295vmin currentColor;
}

.background span:nth-child(7) {
  color: #ff6600;
  top: 71%;
  left: 97%;
  animation-duration: 97s;
  animation-delay: -110s;
  transform-origin: -23vw -5vh;
  box-shadow: 28vmin 0 4.23739228593023vmin currentColor;
}

.background span:nth-child(8) {
  color: #ff0000;
  top: 7%;
  left: 14%;
  animation-duration: 38s;
  animation-delay: -90s;
  transform-origin: 4vw -7vh;
  box-shadow: -28vmin 0 4.437053816551851vmin currentColor;
}

.background span:nth-child(9) {
  color: #ff0000;
  top: 97%;
  left: 77%;
  animation-duration: 81s;
  animation-delay: -18s;
  transform-origin: -6vw 23vh;
  box-shadow: -28vmin 0 3.9994441331286676vmin currentColor;
}

.background span:nth-child(10) {
  color: #ff0000;
  top: 58%;
  left: 51%;
  animation-duration: 22s;
  animation-delay: -75s;
  transform-origin: 25vw -21vh;
  box-shadow: 28vmin 0 3.5778213597747213vmin currentColor;
}

.background span:nth-child(11) {
  color: #ff0000;
  top: 24%;
  left: 54%;
  animation-duration: 112s;
  animation-delay: -11s;
  transform-origin: 13vw -12vh;
  box-shadow: -28vmin 0 3.841756324753794vmin currentColor;
}

.background span:nth-child(12) {
  color: #ffd500;
  top: 25%;
  left: 5%;
  animation-duration: 12s;
  animation-delay: -49s;
  transform-origin: 14vw 0vh;
  box-shadow: -28vmin 0 3.519224493222933vmin currentColor;
}

.background span:nth-child(13) {
  color: #ff6600;
  top: 38%;
  left: 30%;
  animation-duration: 23s;
  animation-delay: -87s;
  transform-origin: -13vw -13vh;
  box-shadow: 28vmin 0 3.669251223625468vmin currentColor;
}

.background span:nth-child(14) {
  color: #ffd500;
  top: 9%;
  left: 98%;
  animation-duration: 109s;
  animation-delay: -57s;
  transform-origin: 11vw -15vh;
  box-shadow: -28vmin 0 3.719951717982726vmin currentColor;
}

.background span:nth-child(15) {
  color: #ffd500;
  top: 40%;
  left: 83%;
  animation-duration: 101s;
  animation-delay: -65s;
  transform-origin: 12vw 8vh;
  box-shadow: -28vmin 0 4.069952552018775vmin currentColor;
}


.background span:nth-child(16) {
  color: #ff0000;
  top: 12%;
  left: 13%;
  animation-duration: 11s;
  animation-delay: -15s;
  transform-origin: -9vw -10vh;
  box-shadow: -28vmin 0 4.2501430233559265vmin currentColor;
}

.background span:nth-child(17) {
  color: #ffd500;
  top: 89%;
  left: 64%;
  animation-duration: 34s;
  animation-delay: -23s;
  transform-origin: -13vw 8vh;
  box-shadow: 28vmin 0 3.910714858128461vmin currentColor;
}

.background span:nth-child(18) {
  color: #ffd500;
  top: 86%;
  left: 11%;
  animation-duration: 121s;
  animation-delay: -8s;
  transform-origin: 11vw 10vh;
  box-shadow: 28vmin 0 4.006571473695426vmin currentColor;
}

.background span:nth-child(19) {
  color: #ffd500;
  top: 69%;
  left: 82%;
  animation-duration: 65s;
  animation-delay: -33s;
  transform-origin: 8vw -21vh;
  box-shadow: -28vmin 0 3.8990324575793567vmin currentColor;
}

.background span:nth-child(20) {
  color: #ff0000;
  top: 21%;
  left: 57%;
  animation-duration: 125s;
  animation-delay: -48s;
  transform-origin: 1vw 5vh;
  box-shadow: -28vmin 0 3.8360033334633763vmin currentColor;
}

.background span:nth-child(21) {
  color: #ffd500;
  top: 29%;
  left: 21%;
  animation-duration: 76s;
  animation-delay: -71s;
  transform-origin: 9vw -11vh;
  box-shadow: 28vmin 0 3.578155515561502vmin currentColor;
}

.background span:nth-child(22) {
  color: #ff0000;
  top: 36%;
  left: 99%;
  animation-duration: 90s;
  animation-delay: -42s;
  transform-origin: 5vw -9vh;
  box-shadow: 28vmin 0 3.7989470465283226vmin currentColor;
}

.background span:nth-child(23) {
  color: #ff6600;
  top: 6%;
  left: 63%;
  animation-duration: 49s;
  animation-delay: -98s;
  transform-origin: 21vw -17vh;
  box-shadow: -28vmin 0 3.706093663940619vmin currentColor;
}

.background span:nth-child(24) {
  color: #ff0000;
  top: 56%;
  left: 100%;
  animation-duration: 79s;
  animation-delay: -51s;
  transform-origin: 24vw -4vh;
  box-shadow: 28vmin 0 3.735205969418744vmin currentColor;
}

.background span:nth-child(25) {
  color: #ffd500;
  top: 28%;
  left: 95%;
  animation-duration: 125s;
  animation-delay: -19s;
  transform-origin: -9vw -16vh;
  box-shadow: 28vmin 0 3.642746480059065vmin currentColor;
}

.background span:nth-child(26) {
  color: #ff6600;
  top: 76%;
  left: 71%;
  animation-duration: 8s;
  animation-delay: -26s;
  transform-origin: 0vw -23vh;
  box-shadow: 28vmin 0 4.3683934993541245vmin currentColor;
}

.background span:nth-child(27) {
  color: #ffd500;
  top: 88%;
  left: 44%;
  animation-duration: 25s;
  animation-delay: -38s;
  transform-origin: -20vw -1vh;
  box-shadow: 28vmin 0 4.174680204800487vmin currentColor;
}

.background span:nth-child(28) {
  color: #ff6600;
  top: 10%;
  left: 31%;
  animation-duration: 25s;
  animation-delay: -109s;
  transform-origin: -1vw 11vh;
  box-shadow: 28vmin 0 3.700350877757555vmin currentColor;
}

.background span:nth-child(29) {
  color: #ffd500;
  top: 85%;
  left: 49%;
  animation-duration: 20s;
  animation-delay: -74s;
  transform-origin: 7vw 23vh;
  box-shadow: 28vmin 0 4.18541824552408vmin currentColor;
}

.background span:nth-child(30) {
  color: #ff6600;
  top: 2%;
  left: 1%;
  animation-duration: 52s;
  animation-delay: -54s;
  transform-origin: -21vw 12vh;
  box-shadow: 28vmin 0 3.5749733114425295vmin currentColor;
}

.background span:nth-child(31) {
  color: #ffd500;
  top: 88%;
  left: 77%;
  animation-duration: 99s;
  animation-delay: -85s;
  transform-origin: -6vw -11vh;
  box-shadow: -28vmin 0 3.946992685530173vmin currentColor;
}

.background span:nth-child(32) {
  color: #ff6600;
  top: 11%;
  left: 75%;
  animation-duration: 9s;
  animation-delay: -119s;

  transform-origin: -4vw 5vh;
  box-shadow: -28vmin 0 3.877999498068241vmin currentColor;
}

.background span:nth-child(33) {
  color: #ff6600;
  top: 31%;
  left: 45%;
  animation-duration: 23s;
  animation-delay: -28s;
  transform-origin: 22vw -20vh;
  box-shadow: 28vmin 0 3.8609908409341136vmin currentColor;
}

/*------------------------ Utilities Class Styles -------------------------- */
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/*------------------------ Navbar Styles -------------------------- */
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  background-color: var(--zinc-800);
  height: 90px;
}

.logo-container,
.logo-image {
  height: 100%;
}

.logo-image {
  object-fit: contain;
  width: 100px;
}

.social-container,
.logo-image {
  height: 100%;
}

.social-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials-links {
  position: absolute;
  top: 65px;
  left: 3px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0.5em;
  background-color: var(--zinc-800-alpha);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-in;
}

.socials-cta {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.socials-cta img {
  width: 2rem;
  height: 2rem;
}

.logo-image {
  padding: 1em;
  object-fit: cover;
}

.nav-links {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: var(--zinc-800);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in;
}

.nav-link {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--neutral-50);
}

.nav-links.is-active,
.socials-links.is-active {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 1024px) {
  .panel-btn {
    display: none;
  }

  .logo-image {
    width: 100px;
    object-fit: cover;
  }

  .social-container .socials-cta {
    display: none;
  }

  .socials-links {
    position: static;
    flex-direction: row;
    visibility: visible;
    opacity: 1;
  }
  .nav-links {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    visibility: visible;
    opacity: 1;
  }

  .nav-link {
    margin-bottom: 0;
    transition: color 0.4s ease-in;
  }
  .nav-link:hover {
    font-weight: bold;
    color: var(--emerald-900);
  }
}
/*------------------------ Banner Styles -------------------------- */
.banner {
  display: flex;
  flex-direction: column;
  height: 830px;
  background-image: linear-gradient(
    90deg,
    #22c55e 0%,
    #15803d 50%,
    #14532d 100%
  );
}

.side-by-side {
  flex: 1;
  text-align: center;
}

.side-by-side h1 {
  font-size: 28px;
  margin: 1em auto 0;
  text-align: left;
  text-transform: capitalize;
}

.side-by-side p {
  line-height: 1.5;
  font-size: 14px;
  padding: 1em;
  text-align: center;
  color: #c8c8c8;
}
.side-by-side img {
  display: block;
  height: 100%;
}
.side-by-side:nth-child(2) {
  padding-left: 1em;
}

@media screen and (min-width: 1024px) {
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
  }
}

.header-cta {
  background-image: linear-gradient(
    90deg,
    rgba(239, 68, 68, 1) 0%,
    rgba(127, 29, 29, 1) 100%
  );
  padding: 18px 40px;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  color: var(--neutral-50);
  box-shadow: 0px 11px 51px 15px rgba(39, 39, 42, 0.2);
}

/*------------------------ Roadmap Styles -------------------------- */
/* TODO: change the font weight when the font family were chosen */
.roadmap {
  padding-bottom: 1em;
}

/* Main timeline container */
.timeline-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/* Bar that is in the middle of timeline items */
.timeline-items::before {
  content: "";
  position: absolute;
  z-index: -100;
  left: 0.438em;
  width: 0.25em;
  height: 100%;
  background-color: var(--zinc-800);
  border-radius: 1em;
}

/* Items inside of timeline container  */
.timeline-item {
  position: relative;
  z-index: -100;
  width: 100%;
  margin-bottom: 2.5em;
}

.timeline-item:nth-child(odd) {
  padding-right: 0;
}

.timeline-item:nth-child(odd),
.timeline-item:nth-child(even) {
  padding-left: 2.313em;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

/* Circle in the middle of the timeline items */
.timeline-circle {
  position: absolute;
  z-index: -100;
  left: 0;
  width: 1em;
  height: 1em;
  background-color: var(--red-900);
  border-radius: 50%;
}

.timeline-date {
  font-size: 1.125em;
  font-weight: bolder;
  margin: -2px 0 0.938px;
  color: var(--red-900);
}

.timeline-body {
  z-index: -100;
  background-color: var(--zinc-800);
  padding: 1.875em;
  border-radius: 0.5em;
}

.timeline-body h3 {
  text-transform: capitalize;
  font-size: 1.25rem;
}

.timeline-body .timeline-list {
  list-style: none;
  line-height: 1.5em;
  color: #c8c8c8;
}

@media screen and (min-width: 768px) {
  .timeline-item:nth-child(odd) {
    padding-right: calc(50% + 1.875em);
    text-align: right;
  }

  .timeline-item:nth-child(even) {
    padding-left: calc(50% + 1.875em);
  }

  .timeline-items::before {
    left: calc(50% - 1px);
  }

  .timeline-date {
    margin: 0.563em 0 0.938em;
  }

  .timeline-circle {
    top: 10px;
    left: calc(50% - 8px);
  }
}

/*------------------------ Tokenomics Styles -------------------------- */
.tokenomics-info {
  margin-top: 2em;
}

.bars {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.bar {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 70px;
  padding: 0.8em;
  margin-bottom: 0.6em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: filter 0.3s ease-in;
}

.bar-percentage {
  position: absolute;
  left: -42px;
  font-weight: bolder;
}
.bar:nth-child(1) {
  width: 80%;
  background-color: var(--red-900);
}

.bar:nth-child(2) {
  width: 70%;
  background-color: #991b1b;
}

.bar:nth-child(3) {
  width: 65%;
  background-color: #b91c1c;
}

.bar:nth-child(4) {
  width: 50%;
  background-color: #dc2626;
}

.bar:nth-child(5) {
  width: 35%;
  background-color: #ef4444;
}
.bar:nth-child(6) {
  width: 33%;
  background-color: #fa5b5b;
}
.bar:nth-child(7) {
  width: 33%;
  background-color: #f36767;
}

.bar:hover {
  color: var(--neutral-50);
  filter: brightness(2);
}

.text-container p {
  color: var(--red-900);
}

.bar-leyend {
  color: #52525b;
  transition: color 0.3s ease-in;
}

.text-active {
  color: var(--neutral-50);
  font-weight: bolder;
}

@media screen and (min-width: 1024px) {
  .tokenomics-info {
    display: flex;
    gap: 3em;
    margin-bottom: 1em;
  }

  .bars-container {
    flex-basis: 50%;
  }

  .text-container {
    flex-basis: 50%;
  }
}

/*------------------------ Form Contact Styles -------------------------- */
.form-container {
  --form-error-color: #e02323;
  --form-success-color: #22c55e;

  background-color: var(--zinc-800);
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 0.8em;
}
.input-field {
  margin-bottom: 1em;
}
.input-field :is(input, textarea) {
  width: 100%;
  padding: 1em;
  border-radius: 0.8em;
  resize: none;
  border: 2px solid #52525b;
  outline: none;
}
.input-button {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.input-button button {
  background-color: #15803d;
  border: none;
  padding: 0.5em 2em;
  color: var(--neutral-50);
  font-weight: bold;
  border-radius: 0.6em;
}

.input-button button:nth-child(2) {
  background-color: #dc2626;
}

.input-field > *:invalid {
  border: 1.8px solid var(--form-error-color);
}

.input-field > *:valid {
  border: 1.8px solid var(--form-success-color);
}
/*------------------------ Pulse Styles -------------------------- */

.pulse {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--emerald-900);
  cursor: pointer;
  box-shadow: 0 0 0 rgba(6, 78, 59, 0.4);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(6, 78, 59, 0.4);
  }

  70% {
    box-shadow: 0 0 10px var(--emerald-900);
  }

  100% {
    box-shadow: 0 0 0 rgba(6, 78, 59, 0);
  }
}
/*------------------------ Footer Styles -------------------------- */
.footer {
  background-color: var(--zinc-800);
  color: var(--neutral-50);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin-bottom: 0.3em;
}

.footer-image {
  width: 450px;
  height: auto;
  object-fit: contain;
}

.footer-links a:not(:first-child) {
  margin-left: 14px;
}

.footer-contact {
  text-decoration: none;
  color: var(--neutral-50);
  margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
